.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  box-sizing: border-box;
}

.categories-cards .card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 312px;
  height: 220px;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
  background-color: var(--background-secondary-color);
  justify-content: center;
  align-items: center;
  color: var(--text-primary-color);
  text-decoration: none;
}

.categories-cards .card img {
  width: 80px;
  height: 80px;
}

.categories-cards h3 {
  margin: 24px 0 0;
}

@media screen and (min-width: 768px) {
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .categories-cards .card {
    width: 420px;
  }
}

@media screen and (min-width: 1440px) {
  .categories-cards {
    flex-wrap: nowrap;
  }

  .categories-cards .card {
    width: 280px;
    height: 220px;
  }

  .categories-cards .card:hover {
    background-color: #d9d9d9;
  }
}
