.destination-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.destinations .item .img-item {
  width: 100%;
  height: 368px;
}

.destination-items .item.tokyo .img-item {
  background: url(../img/tokyo-mobile.jpg) no-repeat;
  background-size: cover;
}

.destination-items .item.osaka .img-item {
  background: url(../img/osaka-mobile.jpg) no-repeat;
  background-size: cover;
}

.destination-items .item h4 {
  margin: 24px 0;
}

.destination-items .item p {
  margin-bottom: 24px;
}

.destination-items .item .button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .destination-items .item.tokyo .img-item {
    background: url(../img/tokyo-tablet-desk.jpg) no-repeat;
    background-size: cover;
  }

  .destination-items .item.osaka .img-item {
    background: url(../img/osaka-tablet-desk.jpg) no-repeat;
    background-size: cover;
  }

  .destination-items .img-item {
    height: 452px;
  }

  .destination-items .item .button {
    width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .destinations .item .img-item {
    height: 452px;
  }
}

@media screen and (min-width: 1440px) {
  .destination-items {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }

  .destination-items .item {
    width: 588px;
  }
}
