.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
  width: 100%;
}

.hero .hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.bottom-hero .hero-img {
  background: url(../img/bg-bottom-hero-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.TravelPackagesHero.hero {
  margin-bottom: 88px;
}

.TravelPackagesHero .hero-img {
  background: url(../img/bg-hero-pacotes.jpg) center no-repeat;
  background-size: cover;
  height: 460px;
}

.TravelPackagesBottomHero.bottom-hero .hero-img {
  background: url(../img/bg-bottom-hero-pacotes-mobile.jpg) center no-repeat;
  background-size: cover;
}

.TravelPackagesHero .hero-content {
  width: 312px;
  padding-block: 65px;
  margin-inline: auto;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
.TravelPackagesHero .hero-content p {
  color: var(--text-secondary-color);
  font-size: 20px;
  line-height: 32px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .bottom-hero .hero-img {
    height: 400px;
    background: url(../img/bg-bottom-hero-tablet.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .TravelPackagesHero .hero-img {
    background: url(../img/bg-hero-pacotes.jpg) center no-repeat;
    background-size: cover;
    height: 620px;
  }

  .TravelPackagesBottomHero.bottom-hero .hero-img {
    background: url(../img/bg-bottom-hero-pacotes-tablet.jpg) center no-repeat;
    background-size: cover;
  }

  .TravelPackagesHero .hero-content {
    width: 580px;
    padding-block: 160px;
  }

  .hero h2 {
    padding: 88px 24px;
    font-size: 32px;
  }

  .TravelPackagesHero .hero-content p {
    font-size: 32px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .bottom-hero .hero-img {
    height: 600px;
    background: url(../img/bg-bottom-hero-desktop.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .TravelPackagesHero .hero-img {
    background: url(../img/bg-hero-pacotes.jpg) center no-repeat;
    background-size: cover;
  }

  .TravelPackagesBottomHero.bottom-hero .hero-img {
    background: url(../img/bg-bottom-hero-pacotes-desktop.jpg) center no-repeat;
    background-size: cover;
  }

  .TravelPackagesHero .hero-content {
    width: 580px;
    margin: 0 auto 0 120px;
  }

  .hero h2 {
    padding: 88px 120px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 120px;
  }
}
